/* flexBox */
.container2{
    width: 80%;
    height: 500px;
    background-color: gray;

    display: flex;
    flex-direction: row;

    /* Aula de wrap */
    flex-wrap: wrap;
}
.r1{
    background-color: green;
}
.r2{
    background-color: red;
}
.r3{
    background-color: blue;
}
.rect{
    width: var(--var-wh);
    height: var(--var-wh);
}



/* VARIAVEIS NO CSS */
:root{
    --var-color:red;
    --var-font: 33px;
    --var-wh: 200px;
}

.pt1{
    color: var(--var-color);
}
.pt5{
    color: var(--var-color);
    font-size: var(--var-font);
}
.pt3{
    font-size: var(--var-font);
}


/* TRANSFORMAÇÃO */
    .trans{
        width: 400px;
        height: 300px;
        margin-bottom: 50px;
        transform: skew(5deg, 3deg);
        background-color:green;
    }


/* FUNC CALC */
.container{
    width: 100%;
    height: 200px;
    background-color: red;
    margin: 0;
    padding: 0;
}
.button{
    width: calc(100% - 60px);
    margin: auto;
    height: 60px;
    background-color: blue;
}



/* PSEUDO ELEMENTOS 
p::first-letter{
    font-size: 40px;
    font-weight: 700;
    color: red;
}
p::first-line{
    background-color: black;
    color: white;
}
p::selection{
    background-color: tomato;
    color: blue;
}
li{
    list-style: none;
}
li::before{
    content: "";
    display: inline-block;
    background-image: url(../img/google.jpg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; 
} */